.custom-btn {
  display: initial;
  align-items: center;
  justify-content: center;
  height: 46px;
  border-radius: 10px;
  margin: 0;
  text-transform: initial;
  border: 1px solid transparent;
  text-align: center !important;
  width: 100%;
}

.modal-title {
  margin-top: 5%;
  font-size: 18px;
}

.img {
  margin-top: 6%;
  margin-left: 9%;
}
