<div class="boxMain">
  <div class="text-center">
    <h4 style="font-size: 1.13rem;">THÔNG TIN BẢO HÀNH</h4>
    <img class="logo8" src="assets/images/logo8.png" />
    <p style="font-size: 1.1rem;">
      Quý khách đã kích hoạt bảo hành thành công. Cảm ơn quý khách đã tin dùng
      sản phẩm của INAX
    </p>
  </div>
  <div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <div class="title">THÔNG TIN SẢN PHẨM</div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">Tên sản phẩm</div>
        <div class="col-6 text-right"></div>
      </div>
      <div class="row">
        <div class="col-6">Mã sản phẩm</div>
        <div class="col-6 text-right"></div>
      </div>
      <div class="row">
        <div class="col-12">
          Để biết thêm thông tin chi tiết, vui lòng truy cập: inax.com.vn
        </div>
      </div>
    </div>
  </div>
  <br />
  <div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <div class="title">THÔNG TIN BẢO HÀNH</div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">Trạng thái bảo hành</div>
        <div class="col-6 text-right"></div>
      </div>
      <div class="row">
        <div class="col-6">Ngày kích hoạt</div>
        <div class="col-6 text-right"></div>
      </div>
      <div class="row">
        <div class="col-6">Họ tên</div>
        <div class="col-6"></div>
      </div>
      <div class="row">
        <div class="col-6">Số điện thoại</div>
        <div class="col-6"></div>
      </div>
      <div class="row">
        <div class="col-6">Địa chỉ</div>
        <div class="col-6"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <img class="logo9" src="assets/images/logo9.svg" data-toggle="modal" data-target="#image" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5>KHẢO SÁT KHÁCH HÀNG</h5>
          <p>Tham gia chương trình và nhận quà từ LIXIL Viêt Nam</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="custom-btn btnPrimary">
            <div style="float:center">
              <p>XEM CHI TIẾT</p>
              <img style="float:right," class="img" src="assets/images/postcast.png">
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="image" tabindex="-1" role="dialog" aria-labelledby="image" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" style="margin-top:30%">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="img d-table m-auto">
            <img class="logo9" src="assets/images/logo9.svg" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h5>KHẢO SÁT KHÁCH HÀNG</h5>
            <p>Tham gia chương trình và nhận quà từ LIXIL Viêt Nam</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="custom-btn btnPrimary">
              <div style="float:center">
                <p>XEM CHI TIẾT</p>
                <img style="float:right," class="img" src="assets/images/postcast.png">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
